<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdk.appadplay.adlib">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".InterstitialAd"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>